In [3]:
def hello_world():
    return "my name is shrikant"

In [4]:
val = hello_world()

In [5]:
val

'my name is shrikant'

In [6]:
def sum(num1, num2):
    return num1 + num2

In [7]:
sum(20, 60)

80

In [8]:
def add(name, age):
    print("my name is {} and my age is {}".format(name, age))

In [9]:
add("shrikant", 20)

my name is shrikant and my age is 20

In [10]:
def div(num):
    if num%2==0:
        print("The given number is even")
    else:
        print("The given number is odd")

In [11]:
div(21)

The given number is odd

In [12]:
lst=[1,2,3,4,5,6,7,8,9]

def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum + i 
        else:
            odd_sum=odd_sum + i
    return even_sum, odd_sum

In [13]:
evenoddsum(lst)

(20, 25)

In [14]:
def greet(name):
    print("Hello {} Good Morning...!!".format(name))

In [15]:
greet("Shrikant")

Hello Shrikant Good Morning...!!

In [20]:
def nm(*name):
    for names in name:
        print("Hello {}".format(names))

In [21]:
nm("Shrikant", "Amol", "Gaurav", "Saurabh", "Sanket")

Hello Shrikant
Hello Amol
Hello Gaurav
Hello Saurabh
Hello Sanket

In [28]:
def arg_ex(**info):
    print("Data type  of given argument : ", type(info))

    for key, value in info.items():
        print("{} is {}".format(key, value))



arg_ex(Name="Shrikant", DOB=2001, Place="Andharwadi", EMail="shrikantshejwal12345@gmail.com", phone_no = 7721992119)

Data type  of given argument :  <class 'dict'>
Name is Shrikant
DOB is 2001
Place is Andharwadi
EMail is shrikantshejwal12345@gmail.com
phone_no is 7721992119

### Lambda Function

In [31]:
add = lambda a,b : a+b

add(2, 4)

6

In [32]:
even = lambda num : num%2==0

even(10)

True

### map function

In [36]:
def sum(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

lst = [1,2,3,4,5,6,7,8,9,0,12,34,56,87,90,24]

list(map(sum, lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 0 is even',
 'The number 12 is even',
 'The number 34 is even',
 'The number 56 is even',
 'The number 87 is odd',
 'The number 90 is even',
 'The number 24 is even']